#root {
  min-width: 400px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: grid;
  gap: 1em;
}

.card {
  padding: 1em;
  border: 1px solid;
  border-radius: 8px;
}

.form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: max-content 1fr;
}

.control {
  display: grid;
  gap: 0.5em;
  grid-template-columns: subgrid;
  grid-column: 1 / 3;

  input {
    max-width: 4em;
  }
}

.hint {
  font-style: italic;
  font-size: 0.8em;
  display: block;
}
